._cp{cursor : pointer;}
._ht-35{height : 35px;}
._ht-54{height : 54px;}
._bg-navy{background-color : #35496b;}
._bg-navylight{background-color : #acb0b7;}
._font-size-10{font-size : 10px;}
._font-size-8{font-size : 8px;}
._resize-none{resize: none;}